.PopularBrands-container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 160px;
  .PopularBrands-Blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .H2 {
      font-size: 32px;
      text-align: center;
    }
    .p {
      width: 688px;
    }
  }
}
