@import "../../styles/utils/variables";

.LoginRegistration-wrapper {
  background-color: rgba(18, 32, 45, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .LoginRegistration-Container {
    max-width: 1072px;
    margin: 0 auto;
    width: 512px;
    .LoginRegistration-Logo {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .LoginRegistration-Block {
      background-color: rgba(255, 255, 255, 1);
      padding: 20px;

      .LoginRegistration-Buttons {
        display: flex;
        justify-content: space-around;
        gap: 58px;

        .LoginRegistration-BtnL,
        .LoginRegistration-BtnR {
          font-family: $font-bold;
          font-weight: 700;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          color: rgba(127, 127, 127, 1);
          cursor: pointer;
          transition: color 0.3s ease;
        }

        .LoginRegistration-BtnL.active,
        .LoginRegistration-BtnR.active {
          color: rgba(18, 32, 45, 1);
        }
      }

      .LoginRegistration-Login,
      .LoginRegistration-Registration {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 34px;

        input {
          padding: 6px 0px 6px 12px;
          background-color: rgba(236, 236, 236, 1);
        }

        .LoginRegistration-btn {
          background-color: rgba(18, 32, 45, 1);
          padding: 6px 28px;
          font-weight: 600;
          font-size: 16px;
          color: rgba(255, 255, 255, 1);
          width: 100%;
          font-family: $font-semibold;
        }

        .LoginRegistration-btn2 {
          font-family: $font-semibold;
          font-weight: 600;
          font-size: 12px;
          text-align: center;
          text-decoration: underline;
          text-decoration-style: solid;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .LoginRegistration-wrapper {
    background-color: rgba(18, 32, 45, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .LoginRegistration-Container {
      max-width: 1072px;
      margin: 0 auto;
      width: 512px;
      padding: 0 16px;
      .LoginRegistration-Logo {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .LoginRegistration-Block {
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;

        .LoginRegistration-Buttons {
          display: flex;
          justify-content: space-around;
          gap: 28px;

          .LoginRegistration-BtnL,
          .LoginRegistration-BtnR {
            font-family: $font-bold;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: rgba(127, 127, 127, 1);
            cursor: pointer;
            transition: color 0.3s ease;
          }

          .LoginRegistration-BtnL.active,
          .LoginRegistration-BtnR.active {
            color: rgba(18, 32, 45, 1);
          }
        }

        .LoginRegistration-Login,
        .LoginRegistration-Registration {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-top: 34px;

          input {
            padding: 6px 0px 6px 12px;
            background-color: rgba(236, 236, 236, 1);
          }

          .LoginRegistration-btn {
            background-color: rgba(18, 32, 45, 1);
            padding: 6px 28px;
            font-weight: 600;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            width: 100%;
            font-family: $font-semibold;
          }

          .LoginRegistration-btn2 {
            font-family: $font-semibold;
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            text-decoration: underline;
            text-decoration-style: solid;
          }
        }
      }
    }
  }
}
