@use "../../styles/utils/variables" as *;

.FilteredProducts-container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 128px;
  .FilteredProducts-Buttons {
    display: flex;
    gap: 20px;
    .FilteredProducts-filter {
      background-color: rgba(236, 236, 236, 1);
      min-width: 200px;
      font-family: $font-regular;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.25%;
      display: flex;
      justify-content: space-between;
      padding: 11px;
      .FilteredProducts-name {
        align-self: center;
      }
    }
    .FilteredProducts-All {
      background-color: rgba(18, 32, 45, 1);
      min-width: 158px;
      font-family: $font-regular;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.25%;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 11px;
      .FilteredProducts-All-name {
        align-self: center;
      }
    }
    .FilteredProducts-delete {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-offset: 0%;
      text-decoration-thickness: 0%;
      text-decoration-skip-ink: auto;
      color: rgba(34, 34, 34, 1);
      align-self: flex-end;
    }
  }

  .FilteredProducts-All-buttns {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
    .FilteredProducts-All-btn {
      font-family: $font-semibold;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(127, 127, 127, 1);
      padding: 6px 28px;
      min-width: 195px;
      height: 34px;
    }
  }
}

.FilteredProducts-objs {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 32px;
  .FilteredProducts {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: 490px;
    .FilteredProducts_top {
      margin-bottom: 23px;
      width: 336px;
      .FilteredProducts_main-info {
        position: relative;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        .FilteredProducts_img {
          background-color: rgba(217, 217, 217, 1);
          width: 336px;
          height: 278px;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .FilteredProducts_status {
          position: absolute;
          top: 19px;
          left: 19px;
          background-color: rgba(220, 182, 90, 1);
          padding: 2px 15px;
          font-family: $font-semibold;
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: white;
        }
        .FilteredProducts_btns {
          position: absolute;
          top: 19px;
          right: 19px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          .FilteredProducts_btn.baasket {
            width: 40px;
            background-image: url("../../assets/img/cart.svg"); // путь от SCSS-файла
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 100%;
            padding: 24px 0px 14px 0px;
            border: none;
            cursor: pointer;
            transition: background-image 0.2s ease-in-out;
            &:hover {
              background-image: url("../../assets/img/cartb.svg");
              background-color: rgba(18, 32, 45, 1);
            }
          }
          .FilteredProducts_btn.fav {
            width: 40px;
            background-image: url("../../assets/img/heart.svg"); // путь от SCSS-файла
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 100%;
            padding: 24px 0px 14px 0px;
            border: none;
            cursor: pointer;
            transition: background-image 0.2s ease-in-out;

            &:hover {
              background-image: url("../../assets/img/Heartb.svg");
              background-color: rgba(18, 32, 45, 1);
            }
          }
        }
      }
      .FilteredProducts_sizes {
        display: flex;
        gap: 23px;
        margin-top: 10px;
        font-family: $font-medium;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .FilteredProducts_bottom {
      .FilteredProducts_bottom-info {
        display: flex;
        justify-content: space-between;
        .FilteredProducts_price {
          display: flex;
          gap: 12px;
          .FilteredProducts_price_main-price {
            font-family: $font-bold;
            font-weight: 700;
            font-size: 18px;
            color: rgba(34, 34, 34, 1);
          }
          .FilteredProducts_price_old-price {
            font-family: $font-medium;
            font-weight: 500;
            font-size: 18px;
            text-decoration: line-through;
            color: rgba(236, 236, 236, 1);
          }
        }
        .FilteredProducts_colors {
          display: flex;
          gap: 9px;
          .FilteredProducts_color-item span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
      }
      .FilteredProducts_action {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        a {
          font-family: $font-medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: 0%;
          text-decoration-skip-ink: auto;
          align-self: flex-end;
          list-style: none;
        }
      }
    }
  }
}

.FilterSidebar {
  position: fixed;
  top: 57px;
  left: 0;
  width: 712px;
  height: 100%;
  background: white;
  z-index: 1000;
  padding: 64px 37px 64px 201px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow-y: auto;

  .FilterSidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    h2 {
      margin-bottom: 0px;
    }
    .close-btn {
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
    }
  }

  .FilterSidebar-section {
    margin-bottom: 24px;

    h3 {
      margin-bottom: 18px;
    }

    .FilterSidebar-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      .FilterSidebar-menu-item {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;
        cursor: pointer;

        .custom-checkbox-square {
          input {
            display: none;
          }

          span {
            width: 16px;
            height: 16px;
            border: 1px solid #aaa;
            background: #d9d9d9;
            display: inline-block;
            border-radius: 4px;
            transition: background 0.2s ease;
          }

          .active {
            background: #ffffff;
            border-color: #333;
          }
        }

        .section-label-text {
          font-size: 14px;
          color: #333;
        }
      }
    }
  }

  .FilterSidebar-section-color {
    margin-top: 59px;
    h3 {
      margin-bottom: 20px;
    }
    .FilterSidebar-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      .FilterSidebar-menu-item {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;
        cursor: pointer;

        .custom-checkbox-static {
          input {
            display: none;
          }

          .checkbox-square {
            width: 16px;
            height: 16px;
            background: #d9d9d9;
            border: 1px solid #aaa;
            display: inline-block;
            border-radius: 4px;
            margin-right: 6px;
          }
        }

        .color-dot {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #ccc;
          display: inline-block;
        }
      }
    }
  }

  .FilterSidebar-section-size {
    margin-top: 59px;
    h3 {
      margin-bottom: 20px;
    }
    .size-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .size-item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;

        .size-square {
          width: 12px;
          height: 12px;
          background: #d9d9d9;
          border-radius: 2px;
        }

        .size-label {
          font-size: 14px;
          color: #1a1a1a;
        }
      }
    }
  }
  .FilterSidebar-section-price {
    margin-top: 59px;
    h3 {
      margin-bottom: 20px;
    }

    .price-inputs-single {
      margin-bottom: 12px;
      text-align: right;

      input {
        width: 100px;
        padding: 6px 8px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
      }
    }

    .price-range {
      width: 100%;
      appearance: none;
      height: 2px;
      background: #ccc;
      outline: none;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
        margin-top: -6px;
      }

      &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #000;
        cursor: pointer;
      }
    }
  }

  .clear-filters {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    margin-top: 92px;
  }
}
