@use "base/reset";
@use "base/typography";
@use "utils/variables" as *;
@use "components/buttons";
@import "../../node_modules/leaflet/dist/leaflet.css";

* {
  transition: all 0.5s ease;
}

body {
  font-family: $font-regular;
  color: $color-black;
  font-size: 16px;
}

h1 {
  font-family: $font-bold;
  font-size: $h1-size-large;
}

h2 {
  font-family: $font-semibold;
  font-size: $h2-size-large;
}

h3 {
  font-family: $font-medium;
  font-size: $h3-size-large;
}

p {
  font-family: $font-regular;
  font-size: $p-size;
  margin-bottom: 16px;
}

.container {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}

.btn-main {
  background-color: rgba(18, 32, 45, 1);
  padding: 6px 28px;
  font-family: $font-semibold;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(220, 182, 90, 1);
}

// не убирать
.reviewsContainer,
.popularBrands_container {
  overflow: hidden;
}
// не убирать

.Advantages-wrapper {
  margin-bottom: 200px;
}

.reviewsContainer {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: $h1-size-medium;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: $h1-size-small;
  }

  h2 {
    font-size: $h2-size-small;
    margin-bottom: 28px;
  }

  h3 {
    font-size: $h3-size-small;
  }
}
