@import "../../styles/utils/variables";

.order-wrapper {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
}

.order-container {
  padding: 26px 0px 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(127, 127, 127, 1);
  margin-top: 36px;
}

.order-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-number {
  font-family: $font-medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-right: 12px;
  .copy-icon {
    font-size: 16px;
    margin-left: 12px;
    cursor: pointer;
    color: #777;
  }
}

.order-info {
  font-size: 14px;
  display: flex;
  gap: 12px;
  color: #444;
  .order-data {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(127, 127, 127, 1);
  }

  .order-price {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(127, 127, 127, 1);
  }
}

.order-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.order-status {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  .order-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(236, 236, 236, 1);
  }
  .order-payment {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(18, 32, 45, 1);
  }
}

.toggle-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.myorders-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.3s ease;
  .myorders-block {
    display: flex;
    justify-content: space-between;
    .order-info-block {
      display: flex;
      gap: 16px;
      .order-info-img {
        width: 92px;
        height: 92px;
        background-color: rgba(217, 217, 217, 1);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .Order-info-items {
        h2 {
          font-size: 20px;
        }
        .Order-info-item {
          display: flex;
          gap: 43px;
          .Order {
            display: flex;
            min-width: 105px;
            justify-content: space-between;
            .Order-word {
              font-family: Nunito Sans;
              font-weight: 400;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              color: rgba(127, 127, 127, 1);
            }
            .Order-means {
              font-family: Nunito Sans;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              text-align: center;
              text-transform: uppercase;
              color: rgba(34, 34, 34, 1);
            }
            .Order-color {
              width: 18px;
              height: 18px;
              background-color: rgba(105, 147, 254, 1);
              border-radius: 100%;
            }
          }
        }
      }
    }
    .Order-Prices {
      display: flex;
      gap: 28px;
      .Order-old-price {
        font-family: Nunito Sans;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        text-decoration: line-through;
        color: rgba(127, 127, 127, 1);
      }
      .Order-new-price {
        font-family: Nunito Sans;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        color: rgba(18, 32, 45, 1);
      }
    }
  }
}

.myorders-blocks.hide {
  max-height: 0;
  padding: 0;
  opacity: 0;
}

.toggle-arrow {
  transition: transform 0.7s ease;
}

.toggle-arrow.rotated {
  transform: rotate(180deg);
}

.order-containers-Cancelled {
  .order-container-Cancelled {
    padding: 26px 0px 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(127, 127, 127, 1);
    margin-top: 93px;
    .order-left-Cancelled {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .order-number-Cancelled {
        font-family: $font-medium;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-right: 12px;
        .copy-icon {
          font-size: 16px;
          margin-left: 12px;
          cursor: pointer;
          color: #777;
        }
      }
      .order-info-Cancelled {
        font-size: 14px;
        display: flex;
        gap: 12px;
        color: #444;
        .order-data-Cancelled {
          font-family: $font-medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(127, 127, 127, 1);
        }
        .order-price-Cancelled {
          font-family: $font-medium;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(127, 127, 127, 1);
        }
      }
    }
    .order-right-Cancelled {
      display: flex;
      align-items: center;
      gap: 12px;
      .order-status-Cancelled {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        .order-circle-Cancelled {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: rgba(240, 97, 87, 1);
        }
        .order-payment-Cancelled {
          font-family: $font-medium;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(18, 32, 45, 1);
        }
      }
    }
  }
}

.order-container-delivery {
  padding: 26px 0px 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(127, 127, 127, 1);
  margin-top: 93px;
  .order-left-delivery {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .order-number-delivery {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-right: 12px;
      .copy-icon {
        font-size: 16px;
        margin-left: 12px;
        cursor: pointer;
        color: #777;
      }
    }
    .order-info-delivery {
      font-size: 14px;
      display: flex;
      gap: 12px;
      color: #444;
      .order-data-delivery {
        font-family: $font-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(127, 127, 127, 1);
      }
      .order-price-delivery {
        font-family: $font-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(127, 127, 127, 1);
      }
    }
  }
  .order-right-delivery {
    display: flex;
    align-items: center;
    gap: 12px;
    .order-status-delivery {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 4px;
      .order-circle-delivery {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: rgba(170, 210, 105, 1);
      }
      .order-payment-delivery {
        font-family: $font-medium;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(18, 32, 45, 1);
      }
    }
  }
}

.copy-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;

  .btn {
    font-family: $font-regular;
    font-weight: 400;
    font-size: 14px;
    padding: 21px 87px;
    text-align: center;
    background-color: rgba(127, 127, 127, 1);
    color: rgba(255, 255, 255, 1);

   
  }
}
