@use "../../styles/utils/variables" as *;

.PasswordRecovery-wrapper {
  background-color: rgba(18, 32, 45, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .PasswordRecovery-Container {
    max-width: 1072px;
    margin: 0 auto;
    width: 512px;
    .PasswordRecovery-Logo {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .PasswordRecovery-Block {
      width: 512px;
      background-color: rgba(255, 255, 255, 1);
      padding: 20px;
      margin-top: 28px;
      h2 {
        text-align: center;
      }
      .PasswordRecovery-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          padding: 6px 0px 6px 12px;
          background-color: rgba(236, 236, 236, 1);
        }
        .PasswordRecovery-btn {
          background-color: rgba(18, 32, 45, 1);
          padding: 6px 28px;
          font-weight: 600;
          font-size: 16px;
          color: rgba(255, 255, 255, 1);
          width: 100%;
          font-family: $font-semibold;
        }
      }
      .PasswordRecovery-Ok {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 28px;
        p {
          text-align: center;
        }
      }
    }
  }
}
