//colors
$color-gold: #dcb65a;
$color-blue: #12202d;
$color-black: #222222;
$color-grey: #ececec;
$color-white: #ffffff;
$color-dark-grey: #7f7f7f;

//fonts
$font-light: "NunitoSans-Light", sans-serif;
$font-regular: "NunitoSans-Regular", sans-serif;
$font-medium: "NunitoSans-Medium", sans-serif;
$font-semibold: "NunitoSans-SemiBold", sans-serif;
$font-bold: "NunitoSans-Bold", sans-serif;

//font-size
$h1-size-small: 32px;
$h1-size-medium: 40px;
$h1-size-large: 48px;

$h2-size-large: 32px;
$h2-size-small: 28px;

$h3-size-large: 20px;
$h3-size-small: 14px;

$p-size: 16px;
