.container-ChoseProffesional {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 160px;
}
.container-ChoseProffesional .ChoseProffesional-objs {
  display: flex;
  gap: 17px;
  align-items: stretch;
  margin-top: 32px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  height: 490px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top {
  margin-bottom: 23px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(18, 32, 45);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img {
  background-color: rgb(217, 217, 217);
  width: 336px;
  height: 278px;
  position: relative;
  overflow: hidden;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_status {
  position: absolute;
  top: 19px;
  left: 19px;
  background-color: rgb(220, 182, 90);
  padding: 2px 15px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns {
  position: absolute;
  top: 19px;
  right: 19px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket {
  width: 40px;
  background-image: url("../../assets/img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 24px 0px 14px 0px;
  border: none;
  cursor: pointer;
  transition: background-image 0.2s ease-in-out;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket:hover {
  background-image: url("../../assets/img/cartb.svg");
  background-color: rgb(18, 32, 45);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav {
  width: 40px;
  background-image: url("../../assets/img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 24px 0px 14px 0px;
  border: none;
  cursor: pointer;
  transition: background-image 0.2s ease-in-out;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav:hover {
  background-image: url("../../assets/img/Heartb.svg");
  background-color: rgb(18, 32, 45);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_sizes {
  display: flex;
  gap: 23px;
  margin-top: 10px;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom {
  justify-content: flex-end;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info {
  display: flex;
  justify-content: space-between;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price {
  display: flex;
  gap: 12px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_main-price {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 18px;
  color: rgb(34, 34, 34);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_old-price {
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 18px;
  text-decoration: line-through;
  color: rgb(236, 236, 236);
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors {
  display: flex;
  gap: 9px;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors .ChoseProffesional_color-item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action a {
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  align-self: flex-end;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .container-ChoseProffesional {
    margin: 0 auto;
    padding: 0 68px;
    margin-top: 100px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    justify-content: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional {
    width: 308px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top {
    margin-bottom: 18px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info {
    position: relative;
    margin-bottom: 20px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img {
    background-color: rgb(217, 217, 217);
    width: 308px;
    height: 278px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img img {
    height: 278px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_status {
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: rgb(220, 182, 90);
    padding: 2px 15px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns {
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket {
    width: 40px;
    background-image: url("../../assets/img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 24px 0px 14px 0px;
    border: none;
    cursor: pointer;
    transition: background-image 0.2s ease-in-out;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket:hover {
    background-image: url("../../assets/img/cartb.svg");
    background-color: rgb(18, 32, 45);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav {
    width: 40px;
    background-image: url("../../assets/img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 24px 0px 14px 0px;
    border: none;
    cursor: pointer;
    transition: background-image 0.2s ease-in-out;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav:hover {
    background-image: url("../../assets/img/heart.svg");
    background-color: rgb(18, 32, 45);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_sizes {
    display: flex;
    gap: 20px;
    margin-top: 12px;
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info {
    display: flex;
    justify-content: space-between;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price {
    display: flex;
    gap: 12px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_main-price {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 18px;
    color: rgb(34, 34, 34);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_old-price {
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 18px;
    text-decoration: line-through;
    color: rgb(236, 236, 236);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors {
    display: flex;
    gap: 9px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors .ChoseProffesional_color-item span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action .btn-main {
    background-color: rgb(18, 32, 45);
    padding: 6px 28px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action a {
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
    align-self: flex-end;
  }
}
@media screen and (max-width: 360px) {
  .container-ChoseProffesional {
    margin: 0 auto;
    padding: 0 24px;
    margin-top: 100px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    -moz-column-gap: 12px;
         column-gap: 12px;
    row-gap: 12px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional {
    width: 150px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top {
    margin-bottom: 18px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info {
    position: relative;
    margin-bottom: 20px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img {
    background-color: rgb(217, 217, 217);
    width: 150px;
    height: 135px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_img img {
    height: 135px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_status {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgb(220, 182, 90);
    padding: 4px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket {
    width: 21px;
    background-image: url("../../assets/img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: background-image 0.2s ease-in-out;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.baasket:hover {
    background-image: url("../../assets/img/cartb.svg");
    background-color: rgb(18, 32, 45);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav {
    width: 21px;
    background-image: url("../../assets/img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: background-image 0.2s ease-in-out;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_main-info .ChoseProffesional_btns .ChoseProffesional_btn.fav:hover {
    background-image: url("../../assets/img/heart.svg");
    background-color: rgb(18, 32, 45);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_top .ChoseProffesional_sizes {
    display: flex;
    gap: 15px;
    margin-top: 8px;
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info {
    display: flex;
    flex-direction: column-reverse;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price {
    display: flex;
    gap: 12px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_main-price {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_price .ChoseProffesional_price_old-price {
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 14px;
    text-decoration: line-through;
    color: rgb(236, 236, 236);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors {
    display: flex;
    gap: 4px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_bottom-info .ChoseProffesional_colors .ChoseProffesional_color-item span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action {
    margin-top: 12px;
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action .btn-main {
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 32, 45);
  }
  .container-ChoseProffesional .ChoseProffesional-objs .ChoseProffesional .ChoseProffesional_bottom .ChoseProffesional_action a {
    display: none;
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
    align-self: flex-end;
  }
}/*# sourceMappingURL=ChoseProffesional.css.map */