@font-face {
  font-family: "NunitoSans-Light";
  src: url("src/assets/fonts/NunitoSans10pt-Light.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("src/assets/fonts/NunitoSans10pt-Regular.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans-Medium";
  src: url("src/assets/fonts/NunitoSans10pt-Medium.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans-SemiBold";
  src: url("src/assets/fonts/NunitoSans10pt-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("src/assets/fonts/NunitoSans10pt-Bold.woff") format("woff");
}
