@import "../../styles/utils/variables";

.product-categories {
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 160px;
  .product-categories-list {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    .product-category-card {
      background-color: rgba(217, 217, 217, 1);
      position: relative;
      background-position: bottom 0px;
      background-repeat: no-repeat;
      background-position: right bottom;
      border-bottom: 2px solid rgba(18, 32, 45, 1);
      width: 336px;
      height: 225px;
      .product-category-name {
        word-break: normal;
        position: absolute;
        font-family: $font-medium;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        top: 18px;
        left: 18px;
        right: 18px;
      }
      .btn {
        position: absolute;
        bottom: 18px;
        left: 18px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-categories {
    margin: 0 auto;
    padding: 0 50px;
    margin-top: 100px;
    .product-categories-list {
      display: flex;
      flex-direction: column;

      .product-category-card {
        background-color: rgba(217, 217, 217, 1);
        position: relative;
        background-position: bottom 0px;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        width: 608px;
        height: 228px;
      }
    }
  }
}

@media screen and (max-width: 677px) {
  .product-categories {
    margin: 0 auto;
    padding: 0 42px;
    margin-top: 100px;
    h2 {
      padding: 0 12px;
    }
    .product-categories-list {
      display: flex;
      flex-direction: column;
      padding: 0 12px;

      .product-category-card {
        background-color: rgba(217, 217, 217, 1);
        position: relative;
        background-position: bottom 0px;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        width: 508px;
        height: 228px;
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-categories {
    margin: 0 auto;
    padding: 0 38px;
    margin-top: 100px;
    h2 {
      padding: 0 12px;
    }
    .product-categories-list {
      display: flex;
      flex-direction: column;
      padding: 0 12px;

      .product-category-card {
        background-color: rgba(217, 217, 217, 1);
        position: relative;
        background-position: bottom 0px;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        width: 408px;
        height: 228px;
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .product-categories {
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 100px;
    h2 {
      padding: 0 12px;
    }
    .product-categories-list {
      display: flex;
      flex-direction: column;
      padding: 0 12px;

      .product-category-card {
        background-color: rgba(217, 217, 217, 1);
        position: relative;
        background-position: bottom 0px;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        width: 308px;
        height: 228px;
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .product-categories {
    margin: 0 auto;
    padding: 0 24px;
    margin-top: 100px;
    .product-categories-list {
      display: flex;
      flex-direction: column;
      .product-category-card {
        background-color: rgba(217, 217, 217, 1);
        position: relative;
        background-position: bottom 0px;
        background-repeat: no-repeat;
        background-position: right bottom;
        border-bottom: 2px solid rgba(18, 32, 45, 1);
        width: 312px;
        height: 228px;
      }
    }
  }
}
